@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE




[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
	3.1 Header
		3.1.1 Logo
		3.1.2 Main Navigation
		3.1.3 Search
		3.1.4 Hamburger
	3.2 Hero Slider
	3.3 Next Section Scroll
4. Menu
5. Icon Boxes
6. Vertical Slider Section
7. Services
	7.1 Services Slider
8. Features
9. Call to action
10. Text Line
11. Newsletter
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body
{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	background: #FFFFFF;
	color: #6e6e6e;
	animation: fadein 0.3s;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.86;
	font-weight: 400;
	color: #3a3b3c;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #dbdbdb;
	color: #044f7b;
}
p::selection
{
	background: #dbdbdb;
}
h1{font-size: 48px;}
h2{font-size: 24px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	color: #044f7b;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	font-weight: 700;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
}
::-moz-placeholder /* Firefox 19+ */ 
{
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
} 
:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
}
::input-placeholder
{
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.bez_1
{
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.button
{
	display: inline-block;
	height: 54px;
	width: 174px;
	text-align: center;
	border: solid 2px #044f7b;
	background: transparent;
}
.button-slider{
	display: inline-block;
	height: 54px;
	width: 174px;
	text-align: center;
	border: solid 2px #FFF;
	background: transparent;
}
.button-slider:hover{
	border: solid 2px #FFF;
	background: #FFF;
}

.button-slider a
{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFF;
}
.button-slider a:hover{
	color: black!important;
}
.button a
{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	color: #044f7b;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}

/*********************************
3. Home
*********************************/

.home
{
	width: 100%;
	height: 700px;
}
.home_background_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.home_background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_background_container:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	background-color: #000000;
}

/*********************************
3.1 Header
*********************************/
#logo-azul { display: none; }
.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 128px;
	background: #FFF;
	z-index: 11;
}
.header.scrolled
{
	opacity: 1;
	background: #FFF;
	box-shadow: 0 10px 15px rgba(0,0,0,.05);
}
/*.header.scrolled .main_nav ul li a:after{
position: absolute;
left: 0;
bottom: -40px;
content: "";
width: 100%;
height: 2px;
opacity: 0;
background: #044f7b;
}*/
.header.scrolled .main_nav ul li:hover a:after
{
	opacity: 1;
	transition: ease 0.4s;
	bottom: 0;
}
.header.scrolled #logo-branco{
	display: none;
}
.header.scrolled #logo-azul{
	display: block
}
.header.scrolled ul li a {
	color: #044f7b;
}
.header.scrolled .search_button svg path{ 
	fill: #044f7b;
}
.header .search_button svg path{ 
	fill: #044f7b;
}
/*********************************
3.1.1 Logo
*********************************/

.logo
{
	padding-left: 57px;
	flex-basis: 50%;
}
.logo a
{
	font-size: 36px;
	font-weight: 500;
	color: #fefefe;
	letter-spacing: 0.1em;
	line-height: 128px;
}
.logo a span
{
	font-weight: 800;
	color: #ff6b09;
	text-transform: uppercase;
}

/*********************************
3.1.2 Main Navigation
*********************************/

.main_nav
{
	flex-basis: 200%;
}
.main_nav ul
{
	display: inline-block;
	margin-right: 100px;
	-webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	-o-transform: translateY(-4px);
	transform: translateY(-4px);
}
.main_nav ul li
{
	display: inline-block;
	margin-right: 50px;
}
.main_nav ul li:last-child
{
	margin-right: 0px;
}
.main_nav ul li a
{	
	text-transform: uppercase;
	position: relative;
	display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 40.51px;
	color: #044f7b;
}
/*.main_nav ul li a:after{
position: absolute;
left: 0;
bottom: -40px;
content: "";
width: 100%;
height: 2px;
opacity: 0;
background: #044f7b;
}*/
.main_nav ul li.active a
{
	font-weight: 700;
}
.main_nav ul li:hover a:after
{
	opacity: 1;
	transition: ease 0.4s;
	bottom: 0;
}
/*********************************
3.1.3 Search
*********************************/

.search
{
	display: inline-block;
	margin-right: 49px;
	width: 237px;
	height: 100%;
}
.search_content
{
	width: 100%;
	height: 100%;
}
.search_button
{
	width: 40px;
	height: 40px;
	background: transparent;
	cursor: pointer;
}
.search_button:active
{
	background: #FFF;
}
.search_form
{
	position: absolute;
	right: 0;
	top: 90px;
	width: 237px;
	height: 40px;
	visibility: hidden;
	opacity: 0;
}
.search_form.active
{
	top: 75px;
	visibility: visible;
	opacity: 1;
}
.search_input
{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	color: #1b0b32;
	padding-left: 20px;
	outline: none !important;
	border: none !important;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

/*********************************
3.1.4 Hamburger
*********************************/

.hamburger_container
{
	display: none;
	cursor: pointer;
	margin-right: 40px;
	flex-basis: 40px;
	text-align: right;
}
.hamburger_container i
{
	font-size: 24px;
	padding: 10px;
	color: #05507c;
}
.hamburger_container:hover i
{
	color: #05507c;
}

/*********************************
3.2 Hero Slider
*********************************/

.hero_slider_container
{
	width: 100%;
	height: 100%;
	z-index: 9;
}
.hero_slider
{
	width: 100%;
	height: 100%;
}
.hero_slider_item
{
	height: 100%;
}
.item_1 span
{
	font-size: 24px;
	line-height: 1.5;
	font-weight: 500;
	color: #FFFFFF;
}
.item_1 span:first-child
{
	font-size: 24px;
	margin-bottom: 22px;
}
.item_1 span:nth-child(2)
{
	margin-bottom: 11px;
}
.item_1 span:nth-child(3)
{
	font-size: 60px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 0.1em;
	margin-bottom: 14px;
	margin-right: -0.1em;
}
.item_1 span:nth-child(4)
{
	font-size: 24px;
}
.hero_slider_nav
{
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}
.hero_slider_nav_left
{
	left: 50px;
}
.hero_slider_nav_right
{
	display: none;
	right: 50px;
}
.hero_slider_nav div
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
}
.hero_slider_nav div::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: #034f7b;
	border-radius: 50%;
	transform: scale(0);
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hero_slider_nav div i
{
	font-size: 18px;
	color: #a2baff;
}
.hero_slider_nav div:hover::before
{
	opacity: 1;
	transform: scale(1);
}
.hero_slider_nav div:hover i
{
	color: #251343;
}
.hero_side_text_container
{
	position: absolute;
	top: 0;
	right: 35px;
	/* Firefox */
	height: -moz-calc(100% + 30px);
	/* WebKit */
	height: -webkit-calc(100% + 30px);
	/* Opera */
	height: -o-calc(100% + 30px);
	/* Standard */
	height: calc(100% + 30px);
	width: 310px;
	background: #FFF;
	z-index: 10;
	box-shadow: 0 10px 15px rgba(0,0,0,.05);
}
.hero_side_text
{
	width: 100%;
	padding: 160px 35px;
}
.hero_side_text h2
{
	display: block;
	font-size: 30px;
	font-weight: 800;
	color: #044f7b;
	text-align: center;
}
.hero_side_text p
{
	display: block;
	font-size: 14px;
	font-weight: 300;
	line-height: 2.25;
	color: black;
	text-align: justify;
}
.double_arrow_container
{
	width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.double_arrow
{
	padding: 5px;
	transform: rotate(-90deg);
	cursor: pointer;
	margin-bottom: 45px;
}
.double_arrow i
{
	color: #044f7b;
}
.double_arrow i:first-child
{
	margin-right: -3px;
}
.double_arrow:hover i
{
	color: #d0d0d0;
}

/*********************************
3.3 Next Section Scroll
*********************************/

.next_section_scroll
{
	display: none;
	position: absolute;
	left: 50%;
	bottom: 40px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 9;
	padding: 10px;
}
.next_section i
{
	display: block;
	color: #FFFFFF;
}
.next_section i:first-child
{
	margin-bottom: -4px;
}
.next_section_scroll:hover i
{
	color: #05507c;
}

/*********************************
4. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 11;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.menu_container.active
{
	right: 0;
	opacity: 1;
}
.menu
{
	width: 100%;
	height: 100%;
}
.menu_close
{
	position: absolute;
	top: 50px;
	right: 30px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 28px;
}
.menu_close:hover i
{
	color: #ff6b09;
}
.menu ul
{
	padding-top: 115px;
}
.menu ul li
{
	position: relative;
}
.menu ul li::after
{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #034d78;
	content: '';
}
.menu ul li.active a
{
	font-weight: 700;
}
.menu ul li a
{
	color: #000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu ul li a:hover
{
	color: #034d78;
}

/*********************************
5. Icon Boxes
*********************************/

.icon_boxes
{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #f1f4f9;
}
.icon_box_title
{
	padding-right: 50px;
	
}
.icon_box_title h1
{
	line-height: 1.25;
}
.icon_box_button
{	margin-bottom: 25px;
	bottom: 0;
    position: absolute;
}
.icon_box_button:hover
{
	background: #044f7b;
}
.icon_box_button:hover a
{
	color: #FFFFFF;
}
.icon_box_col
{
	padding-top: 21px;
}
.icon_box_col figure{
    width: 100%;
    justify-content: center;
    display: flex;
    top: -15px;
}
.icon_box_col figure img{
	width: 80px;
	background: white;
    z-index: 1;
}
.icon_box_item
{
	background: white;
	box-sizing: border-box;
    margin-bottom: 30px;
    height: 450px;
    padding: 10px 25px;
    padding-top: 25px;
    padding-bottom:  100px;
    -webkit-box-shadow: 0px 2px 69px #97A1B238;
    -moz-box-shadow: 0px 2px 69px #97A1B238;
    box-shadow: 0px 2px 69px #97A1B238;
    -webkit-border-radius: 18px;
}
.icon_box_item:last-child
{
	margin-bottom: 0px;
}
.icon_box_item h2
{
	margin-bottom: 21px;
	padding-top: 10px;
	text-align: center;
}
.icon_box_item p
{
	font-size: 14px;
	margin-bottom: 0px;
	text-align: center;
}

/*********************************
6. Vertical Slider Section
*********************************/

.v_slider_section
{
	padding-top: 3px;
	padding-bottom: 100px;
}
.v_slider_section_image
{
	
}
.v_slider_image
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	/*box-shadow: 0px 45px 59px rgba(24, 29, 33, 0.23);*/
}
.v_slider_content
{
	
}
.v_slider_container
{
	
}
.v_slider
{
	
}
.v_slider_item
{
	border: none !important;
}
.v_slider_item:focus
{
	outline: none !important;
	border: none !important;
}
.v_slider_item h1
{
	line-height: 52px;
}
.v_slider_item h1:last-of-type
{
	margin-bottom: 40px;
}
.person
{
	margin-top: 67px;
}
.person_image
{
	width: 44px;
	height: 44px;
}
.person_image img
{
	width: 100%;
}
.person_meta
{
	padding-left: 28px;
}
.person_name
{
	font-size: 15px;
	color: #044f7b;
	margin-top: -5px;
	margin-bottom: -6px;
}
.person_title
{
	font-size: 13px;
	color: #737373;
}
.v_slider .slick-dots
{
	position: absolute;
	top: 50%;
	right: -145px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.v_slider .slick-dots
{
	width: 18px;
}
.v_slider .slick-dots li
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 35px;
}
.v_slider .slick-dots li.slick-active
{
	
}
.v_slider .slick-dots li button
{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
	background: #dfdfdf;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.v_slider .slick-dots li button:focus,
.v_slider .slick-dots li button:active
{
	outline: none !important;
	border: none !important;
}
.v_slider .slick-dots li.slick-active button
{
	width: 18px;
	height: 18px;
	background: #044f7b;
}

/*********************************
7. Services
*********************************/

.services
{
	width: 100%;
	padding-top: 130px;
	padding-bottom: 184px;
}
.section_title{ 
	margin-bottom: 40px;
}
.section_title span
{
	display: block;
	font-size: 18px;
	font-weight: 500;
	color: #044f7b;
	margin-top: 29px;
}

/*********************************
7.1 Services Slider
*********************************/

.h_slider_container
{
	width: 100%;
}
.services_slider_container
{
	margin-top: 106px;
	width: 100%;
	height: 663px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.service_slider_outer
{
	position: relative;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1920px;
	height: 663px;
}
.services_slider
{
	height: 663px;
}
.services_slider .owl-stage-outer
{
	padding-top: 20px;
	padding-bottom: 60px;
}
.services_slider .owl-stage
{
	right: 50px;
}
.services_slider .owl-item
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.services_slider .owl-item.center
{
	margin-left: 48px !important;
	margin-right: 115px !important;
}
.services_slider .owl-item.center .services_item_inner
{
	background: rgb(4,79,123);
    background: linear-gradient(90deg, rgba(4,79,123,1) 0%, rgba(42,120,166,1) 100%);
}
.services_item
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
}
.services_item_inner
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 475px;
	max-width: 100%;
	box-shadow: 0px 30px 59px rgba(24, 29, 33, 0.23);
	padding-left: 75px;
	padding-right: 60px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.services_slider .owl-item.active.center .services_item_inner
{
	width: 800px;
	height: 663px;
}
.service_item_content
{
	max-width: 100%;
}
.services_item_inner h2
{
	font-weight: 400;
	margin-bottom: 22px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.services_item_inner p
{
	line-height: 1.866;
	margin-bottom: 0px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.service_item_button
{
	position: absolute;
	bottom: -94px;
	left: 0;
	border-color: #FFFFFF;
	color: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.service_item_button a
{
	color: #FFFFFF;
}
.service_item_button:hover
{
	background: #FFFFFF;
}
.service_item_button:hover a
{
	color: #044f7b;
}
.services_slider .owl-item.center .services_item .services_item_inner h2
{
	color: #FFFFFF;
}
.services_slider .owl-item.center .services_item .services_item_inner p
{
	color: #FFFFFF;
}
.services_slider .owl-item.center .services_item .services_item_inner .service_item_button
{
	visibility: visible;
	opacity: 1;
}
.service_item_icon
{
	position: absolute;
	top: -70px;
	left: 0;
	width: 42px;
	height: 42px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.service_item_icon .icon
{
	font-size: 40px;
	line-height: 1;
	color: #044f7b;
}
.services_slider .owl-item.active.center .services_item_inner .service_item_icon .icon
{
	font-size: 50px;
	color: #FFF;
}
.services_slider .owl-item.center .services_item .services_item_inner .service_item_icon
{
	top: -102px;
}
.services_slider .owl-dots
{
	margin-top: 15px !important;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	left: 0 !important;
	position: absolute;
}
.services_slider.owl-theme .owl-dots .owl-dot span
{
	width: 11px !important;
	height: 11px !important;
	background: #dfdfdf;
}
.services_slider.owl-theme .owl-dots .owl-dot.active span
{
	width: 18px !important;
	height: 18px !important;
	background: #044f7b;
}
.services_slider_nav
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc((100% - 80px) / 2);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
}
.services_slider_nav_left
{
	left: calc(50% - 450px);
}
.services_slider_nav_right
{
	right: calc(50% - 450px);
}
.services_slider_nav i
{
	font-size: 18px;
	color: #004cff54;
}
.services_slider_nav:hover i
{
	color: #044f7b;
}

/*********************************
8. Features
*********************************/

.features
{
	padding-top: 120px;
	padding-bottom: 80px;
	background: #FFF;
}
.features_row
{
	margin-top: 35px;
}
.features_col
{
	padding-top: 69px;
	padding-bottom: 69px;
}
.features_item
{
	margin-bottom: 60px;
}
.features_col > div:last-of-type
{
	margin-bottom: 0px;
}
.features_button
{
	margin-top: 20px;
}
.features_button:hover,
.features_button_2:hover
{
	background: #044f7b;
}
.features_button:hover a,
.features_button_2:hover a
{
	color: #FFFFFF;
}
.features_button_2
{
	display: none;
}

/*********************************
9. Call to action
*********************************/

.cta
{
	width: 100%;
	background: #b0d5db;
	
}
.cta_background
{
	background: url('../img/background-pr-1.jpg'); 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.cta_content
{
	padding-top: 116px;
	padding-bottom: 101px;
}
.cta_content h1
{
	color: #FFFFFF;
	margin-bottom: 25px;
	font-size: 56px;
    font-weight: 700;
}
.cta_content p
{
	font-size: 18px;
	font-weight: 500;
	line-height: 1.875;
	color: #FFFFFF;
	margin-bottom: 0px;
}
.cta_image
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.cta_image img
{
	width: 510px;
	height: auto;
}

/*********************************
10. Text Line
*********************************/

.text_line
{
	width: 100%;
}
.text_line img
{
	width: 100%;
	padding-bottom: 25px;
}
.text_line_image
{
	top: 127px;
}
.text_line_image img
{
	max-width: 100%;
	height: auto;
}
.text_line_content
{
	padding-top: 127px;
	padding-bottom: 118px;
}
.text_line_content h1
{
	margin-bottom: 40px;
}
.text_line_content p
{
	margin-bottom: 41px;
}
.text_line_button:hover
{
	background: #044f7b;
}
.text_line_button:hover a
{
	color: #FFFFFF;
}

/*********************************
11. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #1b0d37;
}
.newsletter_content
{
	padding-top: 110px;
	padding-bottom: 141px;
}
.newsletter_title
{

}
.newsletter_title h1
{
	color: #FFFFFF;
	margin-bottom: 13px;
}
.newsletter_title span
{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
}
.newsletter_form_container
{
	text-align: left;
	margin-top: 77px;
}
.newsletter_email
{
	height: 53px;
	background: #044f7b;
	border: none;
	padding-left: 30px;
	width: calc(100% - 174px - 26px);
	margin-right: 22px;
	color: #FFFFFF;
}
.newsletter_email:focus
{
	outline: none;
	border: none;
}
.newsletter_submit_button
{
	cursor: pointer;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
}
.newsletter_submit_button:hover
{
	background: #044f7b;
}
.newsletter_submit_button:focus
{
	outline: none;
	border: none;
}

/*********************************
12. Footer
*********************************/

.footer
{
	padding-top: 60px;
}
.footer_logo
{
	padding-left: 0px;
	margin-bottom: 39px;
}
.footer_logo a
{
	color: #044f7b;
	line-height: 1;
}
.footer_intro p
{
	margin-bottom: 0px;
}
.footer_social
{
	margin-top: 27px;
}
.footer_social ul
{
	display: inline-block;
	margin-left: -5px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 22px;
}
.footer_social ul li a
{
	padding: 5px;
}
.footer_social ul li a i
{
	font-size: 20px;
	color: #bab6c3;
}
.footer_social ul li a:hover i
{
	color: #1b0d37;
}
.footer_cr
{
	font-size: 16px;
	font-weight: 500;
	color: #044f7b;
	margin-top: 65px;
	text-align: center;
	border-top: 1px solid #eef;
	line-height: 60px;
}
.footer_cr a{
	color: #044f7b;
	font-weight: 600;
}
.footer_cr_2
{
	display: none;
	font-size: 16px;
	font-weight: 500;
	color: #cacaca;
	margin-top: 65px;
}
.footer_col
{
	margin-bottom: 27px;
}
.footer_col:last-child
{
	margin-bottom: 20px;
}
.footer_col_title
{
	font-size: 18px;
	font-weight: 500;
	color: #044f7b;
	margin-bottom: 9px;
}
.footer_col ul li
{
	margin-bottom: 4px;
}
.footer_col ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #737373;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_col ul li a:hover
{
	color: #044f7b;
}
.text-align-center { 
	text-align: center;
}

/*Slider Amplus*/

.slider_amplus{
	height: 500px!important;
}

/* BOTAO SERVICOS*/
.botao-servicos { 
	position: unset;
	width: 100%;
    justify-content: center;
    display: flex;
}

/*PARALLAX*/

.parallax {
  width: 100%;
  background-image: url("../img/parana.jpg");
  background-attachment: fixed;
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: contain;
}

/*IMG*/

.features_image img { 
	padding-top: 60px;
	height: 450px;
}
.features .col{ 
	height: 50px;
}

/*Unidades*/
.unidades{
	padding: 90px 0 60px;
	width: 100%;
	/*background: rgb(4,79,123);
	background: -webkit-linear-gradient(left, rgba(4,79,123,1) 19%, rgba(29,112,161,1) 100%);
	background: -o-linear-gradient(left, rgba(4,79,123,1) 19%, rgba(29,112,161,1) 100%);
	background: linear-gradient(to right, rgba(4,79,123,1) 19%, rgba(29,112,161,1) 100%); */
	background-image: url('../img/background-pr-1.jpg');
	background-size: cover;
}
.unidades .section_title p {
	font-size: 18px;
	margin-bottom: 40px;
}
.unidades .local{ 
	padding-bottom: 20px;
}
.unidades h3{ 
	color: white;
}
.unidades p{
	color: white;
}	
.unidades i {
	color: white;
}
.unidades h1 { 
	color: white;
}
.unidades .fa-phone{
	padding-top: 5px; font-size: 14px; padding-right: 5px;
}

/*FOOTER*/
.footer_col{
	text-align: center;
}
.footer_col p{
	margin-bottom: 0;
}
.trabalhe .botao-footer{
	width: 100%;
	justify-content: center;
	display: flex;
}
.trabalhe .botao-footer .button{
	width: 220px;
}
.footer .trabalhe p{
	text-align: justify;
}
.footer .trabalhe .footer_col_title{
	text-align: center;
}
.unidades-footer i{
	position: absolute; padding-top: 5px; font-size: 12px;
}
.unidades-footer p {
	padding-left: 20px;
}

/*WIDTH 100*/
.w-100{
	width: 100%;
}

/*LOGO*/

#logo-azul img{
	width: 180px;
}
#logo-branco img{
	width: 180px;
}
.footer_logo img{
	width: 180px;
}
/*Breadcrumb*/


.breadcrumb
{
	width: 100%;
	height: 372px;
	margin: 0;
}
.atual{
	color: white;
	text-decoration: none;
}
.atual a {
	color: white;
}
.atual a:hover{
	color: #e1e1e1;
}
.atual i {
	padding: 0 10px;
}
.breadcrumb_background_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.breadcrumb_background_container:after{
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .6;
	background-color: #000000;
}
.breadcrumb_background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.breadcrumb_title
{
	position: absolute;
	bottom: 61px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}
.breadcrumb_title h2
{
	font-size: 45px;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 15px;
}

/*Softwares*/
.software-menu{
	text-align: center;
}
.software-menu ul {
 	border-bottom: 1px solid #eef;
	justify-content: center;
	display: flex;
    padding:0px;
    margin:0px;
    list-style:none;
    height: auto;
}
.software-menu ul li { 
	display: inline; 
	border-right: 1px solid #dde4ef; 
	height: 135px;
}
.software-menu ul li:last-child{
	border: none;
}
.software-menu ul li a{
	display: block;
	height: 100%;
	font-weight: 500;
}
.software-menu p{
	line-height: 1.3;
	color: #034f7b;
	font-weight: 500;
	margin: 0;
}
.software-menu ul li:hover{
	background: #dde4ef;
}
.software-menu ul li:hover a{
	color: #044f7b; 
}
.software-menu ul li a{
	color: #044f7b;
}	
.software-menu .active {
	background: #f1f4f9;
}
.software-menu .active:hover {
	background: #f1f4f9;
}
.software-menu figure{
	margin: 0;
	padding: 22px 0 2px 0;
}
.service_boxes {
	padding: 80px 0;
}
.service_boxes .service_item a{
	color: #044f7b;
}

/*SEGMENTOS*/
.segmentos {
	background: #FFF;
    padding: 25px;
    border-left: 4px solid #044f7b;
    text-align: justify;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 69px #97A1B238;
    -moz-box-shadow: 0px 2px 69px #97A1B238;
    box-shadow: 0px 2px 69px #97A1B238;
}
#texto-amplus {
	padding-left: 30px;
}
#texto-amplus p{
	
	font-size: 16px;
	text-align: justify;
}
#texto-amplus h3{
	text-align: justify;
}
.segmentos i {
	line-height: 26px;
	color: salmon;
}
.segmentos li {
	padding-bottom: 6px;
	padding-left: 15px;
}
.segmentos h2{
	padding-bottom: 20px;
}

/*ALINHAR-VERTICAL*/

.alinhar-vertical{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; /** ISSO AQUI ALINHA VERTICALMENTE */
}

/*ACCORDEON*/

.accord{
	padding: 80px 15px;
}
.accord .container{
	padding: 0;
}
.accord .collap { 
	cursor: pointer;
	width: 100%;
	border-bottom: 1px solid #eef;
}
.accord .collap .accord-amplus{
	color: #044f7b;
	font-weight: 600;
	line-height: 60px;
}
.accord .collap .accord-amplus:hover{
	color: #044f7b;
	font-weight: 600;
}
.collap i {
	color: #044f7b;
}
.rotate {
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.accord-amplus {
	padding-left: 10px;
}
.collapse.show{
	padding-bottom: 30px;
}
.collapse{
	cursor: auto;
}

/*IPONTO*/

.icone-texto img{
	width: 100%;
}
.iponto-texto{
	padding-left: 30px;
	text-align: justify;
}
.modulo-web{
	padding-bottom: 100px;
	padding-top: 100px;
}
.lista-iponto {
	background: #ffffff;
    border-left: 4px solid #044f7b;
    padding: 25px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 2px 69px #97A1B238;
    -moz-box-shadow: 0px 2px 69px #97A1B238;
    box-shadow: 0px 2px 69px #97A1B238;
}
.iponto{
	padding-bottom: 120px;
}

/*MARGIN-BOTTOM*/
.mb-30 {
	margin-bottom: 30px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mb-80 {
	margin-bottom: 80px;
}
.pl-30{
	padding-left: 30px;
}
.p-15{
	padding: 0 15px;
}
.p06{
	padding: 0 6px;
}
.pb-30{
	padding-bottom: 30px!important;
}
.pb-60{
	padding-bottom: 60px!important;
}
.mh-auto{
	min-height: auto!important;
}
.fs-16{
	font-size: 16px!important;
}
.pt-30{
	padding-top: 35px!important;
}
.pt-100{
	padding-top: 100px!important;
}
.pb-100{
	padding-bottom: 100px!important;
}
.nopadding{
	padding: 0!important;
}
.container_megasult{
	width: 1400px;
	margin: 0 auto;
}

/*LINX*/
.linx{
	padding: 100px 0;
}
.conteudo-linx:first-child{
	padding-right: 25px;
}
.conteudo-linx:last-child{
	padding-left:  25px;
}
.conteudo-contabilidade:first-child{
	padding-right: 25px;
}
.conteudo-contabilidade:last-child{
	padding-left: 25px;
}

/*CONTABILIDADE*/

.texto-contabilidade h2, p{
	padding: 0;
}
.contabilidade-img img{
	width: 100%;
}

/*Gestão*/

.gestao {
	background: #f1f4f9;
	padding: 100px 0;
}

.gestao .gestao-box{
	margin-top: 24px;
	border-radius: 16px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.06);
	background-color: #fff;
	padding: calc(4 * 8px) calc(5 * 8px) calc(5 * 8px);
	-webkit-transition: .2s all ease;
	transition: .2s all ease;
	min-height: 280px;
}
.gestao .gestao-box p{
	text-align: justify;
}	

/*REGISTRO DE MARCAS*/

.registro{
	padding: 100px 0;
	background: #FFF;
}

.registro .texto-registro{
	text-align: justify;
}
.registro .marca-texto, .registro .patente-texto{
	color: #3a3b3c;
}
.registro .registro-box{
	height: 320px;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.06);
    background-color: #f6f8fb;
    border-radius: 16px;
    padding: calc(2 * 8px) calc(4 * 8px);
    opacity: .7;
    -webkit-transition: .8s all ease;
    transition: .8s all ease;
}
.registro .registro-box:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,.08);
    background-color: #fff;
    opacity: 1;
}
.registro .registro-box:hover i{
	-webkit-transition: .8s all ease;
    transition: .8s all ease;
    opacity: 1;
}
.registro .registro-box h1{
	position: absolute;
	right: 50px;
	top: 50px;
}
.registro .registro-box i{
	float: right;
	font-size: 40px;
	color: #044f7b;
	opacity: 0;
}
.registro-box img{
	width: 55px;
}
.registro-box .registro-img{
	padding-bottom: 25px;
}
.registro-box p{
	margin-bottom: 10px;
	color: #555;
}
.registro .section_title{
	padding-bottom: 40px;
}

/*contato*/

.contato {
	padding: 100px 0;
	background: #f1f4f9;
}
.form-control::placeholder{
	color: #044f7b!important;
}
.contato .form-group input{
	height: 50px!important;
	padding-left: 110px;
}
.form-group{
	float: left;
}
.form-control{
	border: 1px solid #044f7b;
	color: #044f7b;
}
.botao-contato{
	margin-top: 30px;
	justify-content: center;
	display: flex;
}
.botao-contato button{
	font-weight: 500;
	width: 24%;
	height: 50px;
	background: #044f7b;
	border: 2px solid #044f7b;
	color: #FFF;
	cursor: pointer;
}
.botao-contato button:hover{
	background: transparent;
	border: 2px solid #044f7b;
	color: #044f7b;
}

/*EMPRESA*/

.empresa{
	background: #FFF;
	padding: 50px;
	border-left: 4px solid #044f7b;
	text-align: justify;
	border-radius: 12px;
}
.logo-empresa{
	display: table-cell;
	vertical-align: middle;
}
.objetivos{
	margin-top: 24px;
	border-radius: 16px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.06);
	background-color: #fff;
	padding: calc(4 * 8px) calc(5 * 8px) calc(5 * 8px);
	-webkit-transition: .2s all ease;
	transition: .2s all ease;
	min-height: 322px;
}
.valores{
	background: #f1f4f9;
	width: 100%;
	padding-bottom: 100px;
}

/*TRABALHE*/

.trabalhe {
	padding: 100px 0;
	background: #f1f4f9;
}
.form-group label{
	font-weight: 600;
	position: absolute;
	background: #044f7b;
	height: 100%;
	width: 100px;
	color: white;
	line-height: 50px;
	text-align: center;
	border-radius: 4px;
}
.trabalhe .form-group input{
	padding-left: 110px;
	height: 50px;
}
#curriculo {
	opacity: 0;
	z-index: 3;
	position: absolute;
	left: 0;
	top: 0;
}
.curriculo{
	background: white;
	width: 100%;	
	height: 50px;
	border: 1px solid #044f7b;
	border-radius: 5px;
}
.curriculo input{
	cursor: pointer;
}
.curriculo p{
	padding-left: 110px;
	width: 100%;
	line-height: 50px;
}
.slider-button:hover{
	background: #044f7b;
}
.slider-button:hover a{
	color: white;
}

/*parallax*/

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*********************************
6. Device
*********************************/

.device
{
	padding-bottom: 120px;
	background: #fafbfb;
}
.device_content
{
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.device_items
{
	margin-top: 40px;
}
.device_item
{
	margin-bottom: 50px;
}
.device_item:last-child
{
	margin-bottom: 0px;
}
.device_item span
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 61px;
	height: 61px;
	background: #044f7b;
	color: #FFFFFF;
	font-size: 18px;
	border-radius: 50%;
	float: left;
}
.device_item p
{
	display: block;
	vertical-align: middle;
	padding-left: 76px;
	padding-top: 15px;
	font-weight: 600;
	color: #044f7b;
}
.devices_button
{
	margin-top: 61px;
}
.devices_button:hover
{
	background: #044f7b;
}
.devices_button:hover a
{
	color: #FFFFFF;
}
.device_image
{
	height: 100%;
	padding-left: 21px;
}
.device_image_container
{
	width: calc(50vw - 45px);
	height: 100%;
	padding-top: 195px;
}
.device_image_container img
{
	max-width: 100%;
}
.device_image_background
{
	position: absolute;
	top: 0;
	left: 21px;
	width: 50vw;
	height: 511px;
	background: #044f7b;
	z-index: -1;
}
.dropdown-menu a:after{
	display: none!important;
}
.dropdown-menu a img{
	margin-right: 8px;
}
.dropdown-menu{
	min-width: auto;
	width: 310px!important;
}

.sistemas .icon_box_item{
	height: 370px!important;
}

.sistema-box{
	height: 120px;
	background: #fff;
    padding: 0 16px;
    -webkit-box-shadow: 0px 2px 69px #97A1B238;
    -moz-box-shadow: 0px 2px 69px #97A1B238;
    box-shadow: 0px 2px 69px #97A1B238;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.sistema-box figure img{
	width: 80%;
}
.sistema-box figure{
	margin: 0;
}
.sistema-box h3{
	padding-left: 15px;
	font-size: 15px;
    font-weight: 500;
    margin: 0;
}
.sistema-box:hover{
	background: #fefefe5e;
}

.dropdown .dropdown-menu .dropdown-item {
	font-weight: 400!important;
}
.nav-link{
	padding: 0;
}
/*FADEIN*/

.fadein{
	animation: fadein 0.3s;
}
/*TOP*/
.top{
	background: #f1f4f9;
    padding: 100px 0;
}
.top .top-box{
	margin-top: 24px;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.06);
    background-color: #fff;
    padding: calc(4 * 8px) calc(5 * 8px) calc(5 * 8px);
    -webkit-transition: .2s all ease;
    transition: .2s all ease;
    min-height: 280px;
}
.top #vantagem{
	padding-top: 80px;
}
/*DROPDOWN*/

.dropdown-item.active, .dropdown-item:active{
	color: #034f7b;
    text-decoration: none;
    background-color: #f1f4f9;
}
.dropdown-item:focus, .dropdown-item:hover{
	color: #1c689d;
    text-decoration: none;
    background-color: #f8f9fa;
}

#consultoria1{
	display: none;
}
#consultoria2{
	display: block;
}