@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.main_nav ul
	{
		margin-right: 80px;
	}
	.main_nav ul li
	{
		margin-right: 30px;
	}
	.v_slider .slick-dots
	{
		right: -55px;
	}
	.container_megasult{
		width: 1200px;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.sistema-box h3{
		font-size: 14px;
	}
	.sistemas .icon_box_item{
		height: 400px!important;
	}
	.icon_box_item{
		height: 520px;
	}
	.container_megasult{
		width: 940px;
	}
	.hero_side_text_container
	{
		display: none;
	}
	.main_nav ul li a{
		font-size: 14px;
	}
	.main_nav ul li
	{
		margin-right: 14px;
	}
	.logo
	{
		padding-left: 15px;
	}
	.logo a
	{
		font-size: 28px;
	}
	.search
	{
		width: auto;
		margin-right: 40px;
	}
	.main_nav ul
	{
		margin-right: 68px;
	}
	.hero_slider_nav_right
	{
		display: block;
	}
	.next_section_scroll
	{
		display: none;
	}
	.footer_logo
	{
		padding-left: 0px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.icon_box_item{
		height: 400px;
	}
	.objetivos{
		height: 400px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	.v_slider .slick-dots
	{
		right: -15px;
	}
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.registro{
		padding: 60px 0;
	}
	.registro h3{
		padding-bottom: 15px;
	}
	.top{
		padding: 60px 0;
	}
	.linx{
		padding: 60px 0;
	}
	.pb-100{
		padding-bottom: 60px!important;
	}
	.linx p{
		padding-bottom: 30px;
	}
	.linx h2{
	  	text-align: center;
	}
	.linx .row{
		margin-bottom: 20px;
	}
	.segmentos{
		margin-bottom: 30px;
	}
	.icone-texto{
		display: flex !important;
    	justify-content: center !important;
    	align-items: center !important;
    	padding-bottom: 30px;
	}
	.icone-texto img{
		width: 30%;
	}
	.modulo-web{
		padding: 60px 0;
	}
	.iponto{
		padding-bottom: 40px;
	}
	.modulo-mobile .container .row .lista-iponto{
		margin: 0 15px;
	}
	.sistema-box figure img{
		width: 40%;
	}
	.software-menu ul li{
		border: 1px solid #dde4ef;
		height: 120px;
	}
	.software-menu ul li:last-child{
		border: 1px solid #dde4ef;
		height: 120px;
	}
	.software-menu ul{
		height: auto;
	}
	.footer_logo{
		display: flex !important;
    	justify-content: center !important;
    	align-items: center !important;
	}
	.footer_social{
		display: flex !important;
    	justify-content: center !important;
    	align-items: center !important;
	}
	.footer_intro p{
		text-align: justify;
	}
	.dropdown .dropdown-menu .dropdown-item{
		border-bottom: 1px solid #034d78;
	}
	#consultoria1{
		display: block;
	}
	#consultoria2{
		display: none;
	}
	#texto-amplus{
		padding: 0;
	}
	.empresa{
		margin: 30px 0;
	}
	.objetivos{
		height: 270px;
    	min-height: 270px;
	}
	.icon_boxes{
		padding: 60px 15px;
	}
	.section_title{
		padding-bottom: 0!important;
    	margin-bottom: 10px;
	}
	.sistemas .text-center{
		margin-bottom: 0!important;
	}
	.icon_box_item{
		height: 390px;
	}
	.container_megasult{
		width: 768px;
	}
	.main_nav
	{
		display: none;
	}
	.menu ul li a{
		padding-right: 50px;

	}
	.menu ul li{
    	font-size: 18px;
    	line-height: 40px;
	}
	.dropdown-menu{
		width: 100%!important;
		transform: translate3d(0px, 30px, 0px)!important;
		position: relative!important;
		border: none;
		padding: 12px 0;
    	margin: -40px 0 0;
	}
	.menu ul li::after{
		right: 40px;
		display: none;
	}
	.menu_close:hover i{
		color: #034d78;
	}
	.icon_box_col
	{
		padding-top: 0px;
		margin-top: 63px;
	}
	.icon_box_button
	{
		margin-bottom: 30px;
	}
	.item_1 span:first-child
	{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.item_1 span:nth-child(2)
	{
		margin-bottom: 9px;
	}
	.item_1 span:nth-child(2) img
	{
		width: 150px;
	}
	.item_1 span:nth-child(3)
	{
		font-size: 70px;
		margin-bottom: 0px;
	}
	.item_1 span:nth-child(4)
	{
		font-size: 20px;
	}
	.hamburger_container
	{
		display: inline-block;
	}
	.v_slider_section
	{
		height: auto;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.v_slider .slick-dots
	{
		right: 0px;
	}
	.v_slider_item
	{
		padding-right: 100px;
	}
	.v_slider_image
	{
		position: relative;
		top: auto;
		-webkit-transform: transform: none;
		-moz-transform: transform: none;
		-ms-transform: transform: none;
		-o-transform: transform: none;
		transform: none;
		right: auto;
		box-shadow: 0px 45px 59px rgba(24, 29, 33, 0.23);
	}
	.v_slider_image img
	{
		width: 100%;
	}
	.v_slider_content
	{
		margin-top: 86px;
	}
	.features_button
	{
		display: none;
	}
	.features_button_2
	{
		display: inline-block;
		margin-bottom: 0px !important;
	}
	.features_col
	{
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.features_col > div:last-of-type
	{
		margin-bottom: 60px;
	}
	.features_image
	{
		margin-bottom: 50px;
	}
	.cta_image
	{
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		height: auto;
		padding-top: 58px;
	}
	.cta_image img
	{
		max-width: 100%;
		width: 776px;
		height: auto;
	}
	.cta_content
	{
		padding-top: 60px;
	}
	.text_line_image
	{
		position: relative;
		bottom: auto;
		right: auto;
		padding-top: 109px;
	}
	.text_line_content
	{
		padding-top: 60px;
	}
	.newsletter_form_container
	{
		text-align: left;
		margin-top: 41px;
	}
	.footer_social
	{
		margin-bottom: 60px;
	}
	.footer_cr
	{
		display: none;
	}
	.footer_cr_2
	{
		display: block;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	.container_megasult{
		width: 680px;
	}
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	.sistema-box figure img{
		width: 25%;
	}
	.unidades .local p, .unidades .local h3{
		text-align: center;
	}
	.item_1 span:nth-child(3)
	{
		font-size: 50px;
	}
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.contato h3{
		padding-bottom: 30px;
	}
	.container_megasult{
		width: 575px;
	}
	h1
	{
		font-size: 36px;
	}
	.logo
	{
		padding-left: 30px;
	}
	.hero_slider_nav_left
	{
		left: 30px;
	}
	.hero_slider_nav_right
	{
		right: 30px;
	}
	.v_slider_item h1
	{
		line-height: 1.083;
	}
	.v_slider_item h1:last-of-type
	{
		margin-bottom: 63px;
	}
	.person
	{
		margin-top: 52px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.software-menu ul li{
		height: 100px;
	}
	.registro{
		padding-right: 15px;
		padding-left: 15px;
	}
	.empresa{
		padding: 15px;
	}
	.container_megasult{
		width: 100%;
		padding: 0 15px;
	}
	.logo
	{
		padding-left: 15px;
	}
	.hamburger_container
	{
		margin-right: 5px;
	}
	.hero_slider_nav
	{
		display: none;
	}
	.item_1 span:first-child
	{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.item_1 span:nth-child(2)
	{
		margin-bottom: 5px;
	}
	.item_1 span:nth-child(2) img
	{
		width: 120px;
	}
	.item_1 span:nth-child(3)
	{
		font-size: 40px;
	}
	.item_1 span{
		font-size: 18px;
	}
	.item_1 span:nth-child(4)
	{
		font-size: 16px;
	}
	.v_slider_item
	{
		padding-right: 0px;
	}
	.services
	{
		padding-top: 100px;
		padding-bottom: 0px;
	}
	.services_slider .owl-stage
	{
		right: auto;
	}
	.service_slider_outer
	{
		width: 100%;
		height: 663px;
	}
	.services_item_inner
	{
		background: #452b78;
		padding-left: 15px;
		padding-right: 15px;
	}
	.service_item_button
	{
		bottom: -84px;
		visibility: visible;
		opacity: 1;
	}
	.services_item_inner h2
	{
		color: #fff;
	}
	.services_item_inner p
	{
		color: #fff;
	}
	.services_slider .owl-item.center
	{
		margin-left: 0px !important;
		margin-right: 15px !important;
	}
	.services_slider .owl-item.active.center .services_item_inner
	{
		height: 475px;
	}
	.services_slider_nav
	{
		display: none;
	}
	.cta_content
	{
		padding-top: 40px;
	}
	.cta_content p
	{
		font-size: 14px;
	}
	.newsletter_email
	{
		padding-left: 15px;
	}
	.footer_col ul li a
	{
		font-size: 14px;
	}
	.footer_cr_2
	{
		font-size: 14px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	.breadcrumb_title h2{
		font-size: 28px;
	}
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{

	h1{font-size: 24px;}
	h2{font-size: 20px;}
	p{font-size: 14px;}
	.breadcrumb{
		height: 280px;
	}
	.botao-contato button{
		width: 100px;
	}
	.curriculo p{
		padding-left: 80px;
	}
	.trabalhe .form-group input{
		padding-left: 80px;
	}
	.contato .form-group input{
		padding-left: 80px;
	}
	.form-group label{
		width: 70px;
		font-size: 13px;
	}
	.header
	{
		height: 90px;
	}
	.logo a
	{
		font-size: 18px;
	}
	#logo-branco img{
		width: 110px;
	}
	#logo-azul img{
		width: 110px;
	}
	.button
	{
		height: 40px;
		width: 140px;
		font-size: 11px;
		line-height: 37px;
	}
	.button a
	{
		font-size: 11px;
		line-height: 37px;
	}
	.icon_box_col
	{
		margin-top: 43px;
	}
	.icon_box_item
	{
		margin-bottom: 43px;
	}
	.icon_box_button
	{
		margin-top: 22px;
		margin-bottom: 20px;
	}
	.v_slider_item h1:last-of-type
	{
		margin-bottom: 40px;
	}
	.section_title span
	{
		font-size: 14px;
		margin-top: 22px;
	}
	.services_slider_container
	{
		margin-top: 60px;
	}
	.person_name
	{
		font-size: 13px;
	}
	.person_title
	{
		font-size: 11px;
	}
	.services_slider_container
	{
		margin-top: 0px;
	}
	.features_item
	{
		margin-bottom: 40px;
	}
	.features_col > div:last-of-type
	{
		margin-bottom: 40px;
	}
	.text_line_content
	{
		padding-top: 40px;
	}
	.text_line_content h1
	{
		margin-bottom: 21px;
	}
	.text_line_content p
	{
		margin-bottom: 21px;
	}
	.newsletter_content
	{
		padding-bottom: 121px;
	}
	.newsletter_email
	{
		height: 40px;
		width: calc(100% - 140px - 26px);
	}
	.newsletter_submit_button
	{
		vertical-align: middle;
	}
	.newsletter_title h1
	{
		margin-bottom: 17px;
	}
	.newsletter_title span
	{
		display: block;
		font-size: 14px;
		line-height: 1.7;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	.item_1 span:nth-child(3){
		font-size: 30px;
	}
	.dropdown-item{
		padding: .25rem 2.5rem;
	}
}
@media only screen and (max-width: 340px)
{
	.registro .registro-box{
		height: 350px;
	}
	.dropdown-item{
		padding: .25rem 5.5rem;
	}
}